/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
@import url('https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Bitcount+Grid+Single:wght@100..900&family=Bytesized&family=Short+Stack&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /*colors primary*/
    --bg-primary: #051412;
    --fr-primary: #ebcfb2;
    --accent-primary: #45b69c;

    /*colors secondary*/
    --bg-secondary: #051014;
    --fr-secondary: #fbfbff;
    --accent-secondary: #21d19f;

    /*color middle ground*/
    --md-ground: #787262;

    /*fonts*/
    --font-title: 'Bitcount Grid Single', sans-serif;
    --font-main-text: 'Ubuntu Mono', Courier, monospace;
    --font-accent: 'Bitcount', sans-serif;
    --font-detail: 'Bytesized', sans-serif;
    --font-handwritten: 'Short Stack', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg-primary);
    color: var(--fr-primary);
    font-family: var(--font-main-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
}

h1 {
    font-family: var(--font-title);
    font-weight: 345;
    font-size: xxx-large;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom; /* Keeps the text aligned with the cursor */

    /* We animate to 25ch because there are 25 steps/characters */
    animation: typing 2s steps(25, end);
}

.cursor {
    font-family: var(--font-title);
    font-weight: 345;
    font-size: xxx-large;
    text-decoration: underline;
    display: inline-block;
    color: var(--accent-primary);
    vertical-align: bottom;
    animation: blink-caret 0.75s step-end infinite;

    /* SUPERPOWER 1: Nudge the cursor up or down without affecting the text */
    transform: translateY(-4px);

    /* SUPERPOWER 2: If the quirky font's "_" looks ugly, force a clean system font just for the cursor */
    /* font-family: "Courier New", monospace; */
}

@keyframes typing {
    from { width: 0; }
    to   { width: 25ch; } /* Matches your 25 steps */
}

@keyframes blink-caret {
    from, to { opacity: 1; }
    50%      { opacity: 0; }
}

a {
    font-family: var(--font-accent);
    color: var(--accent-primary);
    text-decoration: none;
    font-size: larger;
    font-weight: 300;
}

a:hover {
    color: var(--accent-secondary);
}

.bola_canhao {
    width: 30%;
}

.wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-self: center;
}

.fourohfour {
    width: 40%;
    height: 40%;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;

}
